<% month ||= locals[:month] || Time.now %>
<% forward_svg ||= locals[:forward] %>

<% if site.collections.events.docs.select { |event| (month.beginning_of_month...month.end_of_month).cover?(event[:date].to_date) }.any? %>
  <a href="/events/<%= (month).strftime('%Y-%m') %>/" class="btn">
    <i data-feather="chevron-<%= forward_svg ? 'right' : 'left' %>"></i>
    <span class="sr-only"><%= forward_svg ? 'Next Month' : 'Prev Month' %></span>
  </a>
<% else %>
  <div class="btn btn--disabled">
    <i data-feather="chevron-<%= forward_svg ? 'right' : 'left' %>"></i>
    <span class="sr-only"><%= forward_svg ? 'Next Month' : 'Prev Month' %></span>
    </svg>
  </div>
<% end %>
