---
layout: default
title: Groups
permalink: /groups/
template_engine: erb
---

<ul class="card-list">
  <% site.data.groups.each do |group| %>
    <li class="card">
      <h2 class="card__title h3">
        <%= group.name %>
      </h2>

      <ul class="list-inline">
        <% group.links.compact.each do |name, url| %>
          <li>
            <a href="<%= url %>" title="<%= name.capitalize %>: <%= url %>" target="_blank" rel="noopenner" class="card__icon">
              <i data-feather="<%= name %>"></i>
              <span class="sr-only"><%= name %></span>
            </a>
          </li>
        <% end if group.links.present? %>
      </ul>
    </li>
  <% end %>
</ul>
