<%
    require 'active_support/core_ext'
  %>

<% current_month ||= locals[:month] || Time.now %>
<% start_date = current_month.to_date.beginning_of_month.beginning_of_week %>
<% end_date = current_month.to_date.end_of_month.end_of_week %>
<% date_range = (start_date..end_date).to_a %>

<div class="calender">

  <div class="calender__header">
    <div class="h3">
      <%= t('date.month_names')[current_month.month] %>
      <span class="muted"><%= current_month.year %></span>
    </div>

    <div>

      <%= partial 'calender/nav_button', month: current_month - 1.months, forward_svg: false %>

      <div class="border-r border-gray-800 inline-flex h-6"></div>

      <%= partial 'calender/nav_button', month: current_month + 1.months, forward_svg: true %>
    </div>
  </div>	

  <div class="grid grid-cols-7 text-center calender-days-title">
    <% date_range.slice(0, 7).each do |date| %>
      <div class="calender-day">
        <div class="h4 uppercase">
          <%= t('date.abbr_day_names')[date.wday] %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-7 calender-days">
    <% date_range.each do |date| %>
      <div class="calender-day min-h-28">
        <div class="inline-flex w-6 h-6 leading-none">
          <%= date.day %>
        </div>

        <ul>
          <% site.collections.events.docs.select { |event| event[:date].to_date == date }.each do |event| %>
            <li class="text-xs mb-1 list-disc list-inside">
              <a href="<%= event[:external_url] %>">
                <%= event[:name] %>
                <time
                 data-format="%l:%M%P"
                 data-local="time"
                 datetime="<%= event[:datetime].iso8601 %>"
                 ><%= event[:datetime].strftime('%H:%M %z') %></time>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</div>
