<%
    require 'active_support/core_ext'
  %>

<% current_month = (locals[:month] || Time.now).to_date %>
<% start_date = current_month.to_date.beginning_of_month.beginning_of_week %>
<% end_date = current_month.to_date.end_of_month.end_of_week %>
<% date_range = (start_date..end_date).to_a %>

<div class="calendar">

  <div class="calendar__header">
    <div class="h3">
      <%= t('date.month_names')[current_month.month] %>
      <span class="muted"><%= current_month.year %></span>
    </div>

    <ul class="calendar__navigation">
      <li class="calendar__navigation__item">
        <%= partial 'calendar/nav_button', month: current_month - 1.months, forward_svg: false %>
      </li>
      <li class="calendar__navigation__item">
        <%= partial 'calendar/nav_button', month: current_month + 1.months, forward_svg: true %>
      </li>
    </ul>
  </div>

  <div class="calendar-days">
    <% date_range.slice(0, 7).each do |date| %>
      <div class="calendar-day calendar-day--title">
        <%= t('date.abbr_day_names')[date.wday] %>
      </div>
    <% end %>
  </div>

  <calendar-days>
    <script type="application/json">
      <% events = site
        .collections
        .events
        .docs
        .select { |event| ((current_month.beginning_of_month - 1.week)..(current_month.end_of_month + 1.week)).cover?(event[:date]) }
        .sort_by { |event| event[:datetime] }
        .collect { |event| event.data.slice(:title, :datetime, :name, :external_url, :online_event) }
      %>
      <%= { current_month: current_month.iso8601, date_range: date_range, events: events }.to_json %>
    </script>
    <div class="calendar-days">
      <% date_range.each do |date| %>
        <div class="calendar-day calendar-day--body">
        </div>
      <% end %>
    </div>
  </calendar-days>
</div>
